*.pyc
*~
/.vscode
__pycache__
db.sqlite3
db.sqlite3-journal
/acstracks_project/config.py
/static
.DS_Store
/media
/acstracks_app/static/media/
/acsgpxstitch_app/static/maps/acsgpxstitch_[0-9][0-9].html
*.txt
*.csv
