{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AcsTracks</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/acstracks.css' %}">
    </head>
    <body>
        <div class="detail">     
            <table style="width:100%">
                <tr>
                    <td><a href="{% url 'track_list' %}"><h1 style="font-size: 2.5vw; font-weight: 500;">AcsTracks</h1></a></td>
                    {% if request.user.username %}                  
                        <td class="scalefont" style="text-align:right">User {{ request.user.username }} logged in<br><a href="/logout/"><b>Logout</b></a></td>
                    {% endif %}    
                </tr>
            </table>
            <br><br>
            {% block content %}
            {% endblock %}
    </div>
    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <script src={% static 'js/acstracks.js' %}></script>
    <script src={% static 'js/pleasewait.js' %}></script>
</body>
</html>
