{% extends 'acstracks_app/base.html' %}

{% block title %}Change password{% endblock %}

{% block content %}
<script>
  function showPassword(id) {
      if (document.getElementById(id).type == "password") {
        document.getElementById(id).type = "text";
        } 
      else {
        document.getElementById(id).type = "password";
        }
  }
</script>

<h2 class="{{colorscheme}}" style="font-size: 1.6vw; font-weight: 500;">Change password</h2>
<br>
<form method="post" autocomplete="off">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {{ form.old_password.errors }}
  {{ form.new_password1.errors }}
  {{ form.new_password2.errors }}
  <table class="scalefont {{colorscheme}}">
    <tr>
      <td style="text-align: right";>
       {{ form.old_password.label_tag }}
      </td>
      <td>
        {{ form.old_password }}
      </td>
      <td>
        <label class="checkcontainer {{colorscheme}}">Show
          <input type="checkbox"
              name="show_old_password" 
              id="id_show_old_password"
              onchange=showPassword("id_old_password")>
          <span class="checkmark {{colorscheme}}"></span> 
        </label>
      </td>
    </tr>
    <tr>
      <td style="text-align: right";>
        {{ form.new_password1.label_tag }}
      </td>
      <td>
        {{ form.new_password1 }}
      </td>
      <td>
        <label class="checkcontainer {{colorscheme}}">Show
          <input type="checkbox"
              name="show_new_password1" 
              id="id_show_new_password1"
              onchange=showPassword("id_new_password1")>
          <span class="checkmark {{colorscheme}}"></span> 
        </label>
      </td>
    </tr>
    <tr>
      <td style="text-align: right";>
        {{ form.new_password2.label_tag }}
      </td>
      <td>
        {{ form.new_password2 }}
      </td>
      <td>
        <label class="checkcontainer {{colorscheme}}">Show
          <input type="checkbox"
              name="show_new_password2" 
              id="id_show_new_password2"
              onchange=showPassword("id_new_password2")>
          <span class="checkmark {{colorscheme}}"></span> 
        </label>
      </td>
    </tr>
    <tr>
      <td>
        <button type="submit">Change password</button>
      </td>
    </tr>
  </table>
</form>
{% endblock %}
