{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AcsTracks</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/acstracks.css' %}">

    </head>
    <body>

    <div class="detail scalefont">     
        <table style="width:100%" class="scalefont">
            <tr>
                <td>
                    <a href="{% url 'track_list' date_start=date_start date_end=date_end order_selected=order_selected profile_filter=profile_filter intermediate_points_selected=intermediate_points_selected %}">
                    <h1>AcsTracks</h1></a>
                </td>
                {% if request.user.username %}                  
                    <td style="text-align:right">User {{ request.user.username }} logged in<br>
                            <a href="{% url 'show_statistics' date_start=date_start date_end=date_end order_selected=order_selected profile_filter=profile_filter intermediate_points_selected=intermediate_points_selected %}">
                            <b>Statistics</b></a><br>
                            <a href="{% url 'heatmap' date_start=date_start date_end=date_end order_selected=order_selected profile_filter=profile_filter intermediate_points_selected=intermediate_points_selected %}" onclick=processFiles()>
                            <b>Heatmap</b></a><br>
                            <a href="/preference/"><b>Preferences</b></a><br>
                            {% if request.user.is_superuser %}                  
                                <a href="/admin/"><b>Admin panel</b></a><br>
                            {% endif %}    
                            <a href="/logout/"><b>Logout</b></a>
                    </td>
                {% endif %}    
            </tr>
        </table>
        <br><br>
        {% block content %}
        {% endblock %}
    </div>
    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <script src={% static 'js/acstracks.js' %}></script>
    <script src={% static 'js/pleasewait.js' %}></script>

</body>
</html>
