{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AcsTracks</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/acstracks.css' %}">

    </head>
    <body>

    <div class="detail scalefont">     
        <table style="width:100%" class="scalefont">
            <tr>
                <td style="width: 10%; text-align: left;" class="menubar scalefont">
                    <a href="{% url 'track_list'%}" onclick=processFiles()><b>Home</b></a>
                </td>
                <td style="width: 10%; text-align: left;" class="menubar scalefont">
                    {% if request.user.username %}                  
                        <a href="{% url 'show_statistics'%}" onclick=processFiles()><b>Statistics</b></a>
                    {% endif %}    
                <td style="width: 10%; text-align: left;" class="menubar scalefont">
                    {% if request.user.username %}                  
                        <a href="{% url 'heatmap'%}" onclick=processFiles()><b>Heatmap</b></a>
                    {% endif %}    
                <td style="width: 10%; text-align: left;" class="menubar scalefont">
                    {% if request.user.username %}                  
                        <a href="{% url 'preference'%}" onclick=processFiles()><b>Preferences</b></a>
                    {% endif %}    
                </td>
                <td style="width: 10%; text-align: left;" class="menubar scalefont">
                    {% if request.user.is_superuser %}                  
                        <a href="/admin/" onclick=processFiles()><b>Admin panel</b></a>
                    {% endif %}    
                </td>
                <td style="width: 10%; text-align: right;" class="menubar scalefont">
                    {% if request.user.username %}                  
                        <a href="/logout/" onclick=processFiles()><b>Logout user {{ request.user.username }}</b></a>
                    {% endif %}    
                </td>
            </tr>
        </table>
        <table class="scalefont" style="width: 100%;">
            <tr>
                <td style="width: 50%;">
                    {% if  page_name %}
                        <h1>AcsTracks - {{ page_name }}</h1>
                    {% else %}
                        <h1>AcsTracks - Preferences</h1>
                    {% endif %}
                </td>
                <td>
                    <p id="id-processing-p" style="text-align: left; display: none;">Processing...</p>
                    <img id="id-processing-img" style="float:left; width:135px; height:111px; display: none;" src="/static/img/acstracks-progress.gif">
                </td>
            </tr>
        </table>

        {% block content %}
        {% endblock %}
    </div>
    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <script src={% static 'js/acstracks.js' %}></script>
    <script src={% static 'js/pleasewait.js' %}></script>

</body>
</html>
