{% extends 'registration/base.html' %}

{% block content %}
    <script>
        function mouseOver() {
            document.getElementById("id_helptext").style.visibility = "visible";
        }
        
        function mouseOut() {
            document.getElementById("id_helptext").style.visibility = "hidden";
        }

        function processFiles() {
            document.getElementById("id-processing-p").style.visibility = "visible";
            document.getElementById("id-processing-img").style.visibility = "visible";
        }       
    </script>
    
    <div>
        <form method="POST" class="preference-form">
            {% csrf_token %}
            <h3>Thresholds</h3>
            <div class="row">
                <div class="col-3">
                    <table class="scalefont">
                        <tr>
                            <td valign="top" style="text-align:left"><b>Speed threshold (km/h):</b></td>
                            <td style="text-align:right">
                                <input type="number" 
                                    name="speedthreshold" 
                                    value="{{ form.speedthreshold.value }}" 
                                    step="0.01" 
                                    min="0" 
                                    max="10"
                                    id="id_speedthreshold" 
                                    style="text-align:right"
                                    onmouseover="mouseOver()" 
                                    onmouseout="mouseOut()">
                                <br><br></td>
                        </tr>
                        <tr>
                            <td valign="top" style="text-align:left"><b>Elevation threshold (m):</b></td>
                            <td style="text-align:right">
                                <input type="number" 
                                    name="elevationthreshold" 
                                    value="{{ form.elevationthreshold.value }}" 
                                    step="0.01" 
                                    min="0" 
                                    max="10"
                                    id="id_elevationthreshold" 
                                    style="text-align:right"
                                    onmouseover="mouseOver()" 
                                    onmouseout="mouseOut()">
                            <br><br></td>
                        </tr>
                        <tr>
                            <td valign="top" style="text-align:left"><b>Maximum speed capping factor:</b></td>
                            <td style="text-align:right">
                                <input type="number" 
                                    name="maxspeedcappingfactor" 
                                    value="{{ form.maxspeedcappingfactor.value }}" 
                                    step="0.01" 
                                    min="0" 
                                    max="10"
                                    id="maxspeedcappingfactor" 
                                    style="text-align:right"
                                    onmouseover="mouseOver()" 
                                    onmouseout="mouseOut()">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-4">
                    <p id="id-processing-p" style="text-align: right; visibility: hidden;">Please be patient, I'm busy...</p>
                    <img id="id-processing-img" style="float:right; width:135px; height:111px; visibility: hidden;" src="/static/img/acstracks-progress.gif">
                </div>
            </div>
            <p id="id_helptext" style="visibility: hidden;">
                <i>Changing thresholds leads to recalculating all tracks, depending on the number of tracks this might take considerable time.</i>
            </p>
            <hr>
            <div class="row">
                <div class="col-12">
                    <table class="scalefont">
                        <tr>
                            <td style="width: 500px;">
                                <h3>Optional columns</h3>
                            </td>
                            <td style="width: 500px;">
                                <h3>Exported GPX file also contains</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>       
                                <label class="checkcontainer">Average speed
                                    <input type="checkbox"
                                        name="show_avgspeed" 
                                        {% if form.show_avgspeed.value %}
                                            checked="checked" 
                                        {% endif %}
                                        id="id_show_avgspeed">
                                    <span class="checkmark"></span> 
                                </label>
                            </td>
                            <td>       
                                <label class="checkcontainer">Heartrate
                                    <input type="checkbox"
                                        name="gpx_contains_heartrate" 
                                        {% if form.gpx_contains_heartrate.value %}
                                            checked="checked" 
                                        {% endif %}
                                        id="gpx_contains_heartrate">
                                    <span class="checkmark"></span> 
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkcontainer">Maximum speed
                                    <input type="checkbox" 
                                        name="show_maxspeed" 
                                        {% if form.show_maxspeed.value %}
                                            checked="checked }}" 
                                        {% endif %}
                                        id="id_show_maxspeed">
                                    <span class="checkmark"></span> 
                                </label>
                            </td>
                            <td>       
                                <label class="checkcontainer">Cadence
                                    <input type="checkbox"
                                        name="gpx_contains_cadence" 
                                        {% if form.gpx_contains_cadence.value %}
                                            checked="checked" 
                                        {% endif %}
                                        id="gpx_contains_cadence">
                                    <span class="checkmark"></span> 
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkcontainer">Total ascent
                                <input type="checkbox" 
                                    name="show_totalascent" 
                                    {% if form.show_totalascent.value %}
                                        checked="checked" 
                                    {% endif %}
                                    id="id_show_totalascent">
                                <span class="checkmark"></span> 
                            </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkcontainer">Total descent
                                <input type="checkbox" 
                                    name="show_totaldescent" 
                                    {% if form.show_totaldescent.value %}
                                        checked="checked" 
                                    {% endif %}
                                    id="id_show_totaladecent">
                                <span class="checkmark"></span> 
                            </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkcontainer">Average cadence
                                <input type="checkbox" 
                                    name="show_avgcadence" 
                                    {% if form.show_avgcadence.value %}
                                        checked="checked" 
                                    {% endif %}
                                    id="id_show_avgcadence">
                                <span class="checkmark"></span> 
                            </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkcontainer">Average heartrate
                                <input type="checkbox" 
                                    name="show_avgheartrate" 
                                    {% if form.show_avgheartrate.value %}
                                        checked="checked" 
                                    {% endif %}
                                    id="id_show_avgheartrate">
                                <span class="checkmark"></span> 
                            </label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr>
            <button type="submit" onclick=processFiles()>Save</button>
        </form>
    </div>
    {% if request.user.is_superuser %}
    <div class="row">
        <div class="col-3">
            <a href="{% url 'cleanup' %}"><h1 style="font-size: 2.5vw; font-weight: 500;"><button >CleanUp</button></h1></a>        
        </div>
    </div>
    {% endif %}
{% endblock %}