{% extends 'acstracks_app/base.html' %}

{% block content %}
    <script>
        function processFiles() {
            document.getElementById("id-processing-p").style.display = "block";
            document.getElementById("id-processing-img").style.display = "block";
        }       
    </script>
    
    <div>
        <form method="POST" class="preference-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <table class="scalefont {{colorscheme}}">
                        <tr>
                            <td style="width: 350px;">
                                <h3>Thresholds</h3>
                            </td>
                        <td style="width: 200px;"></td>
                        </td>
                        <td style="width: 100px;">
                            <h3>Miscellaneous</h3>
                        </td>
                    </tr>
                        <tr>
                            <td>
                                <i>Changing thresholds only affects new tracks.</i>
                            </td>
                        </tr>
                            <td><br></td>
                        <tr>
                        </tr>
                        <tr>
                            <td valign="top" style="text-align:left;"><b>Speed threshold (km/h)</b></td>
                            <td style="text-align:left;">
                                <input type="number" 
                                    name="speedthreshold" 
                                    value="{{ form.speedthreshold.value }}" 
                                    step="0.01" 
                                    min="0" 
                                    max="10"
                                    id="id_speedthreshold" 
                                    style="text-align:right; width:100;">
                            </td>
                            <td valign="top" style="text-align:left;"><b>Default tag</b></td>
                            <td style="text-align:right"><input 
                                type="text" style="text-align:right" 
                                name="default_profile" 
                                id="id_default_profile" 
                                autocomplete="off"
                                value="{{ form.default_profile.value }}">
                            </td>
                        <tr>
                            <td valign="top" style="text-align:left;"><b>Elevation threshold (m)</b></td>
                            <td style="text-align:left;">
                                <input type="number" 
                                    name="elevationthreshold" 
                                    value="{{ form.elevationthreshold.value }}" 
                                    step="0.01" 
                                    min="0" 
                                    max="10"
                                    id="id_elevationthreshold" 
                                    style="text-align:right; width:100;">
                            </td>
                            <td valign="top" style="text-align:left;"><b>Maximum heart rate</b></td>
                            <td style="text-align:right"><input
                                type="number" style="text-align:right"
                                name="maximum_heart_rate"
                                id="id_maximum_heart_rate"
                                autocomplete="off"
                                value="{{ form.maximum_heart_rate.value }}">
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="text-align:left;"><b>Maximum speed capping factor</b></td>
                            <td style="text-align:left;">
                                <input type="number" 
                                    name="maxspeedcappingfactor" 
                                    value="{{ form.maxspeedcappingfactor.value }}" 
                                    step="0.01" 
                                    min="0" 
                                    max="10"
                                    id="maxspeedcappingfactor" 
                                    style="text-align:right; width:100;">
                            </td>
                            <td valign="top" style="text-align:left;"><b>Resting heart rate</b></td>
                            <td style="text-align:right"><input
                                type="number" style="text-align:right"
                                name="resting_heart_rate"
                                id="id_resting_heart_rate"
                                autocomplete="off"
                                value="{{ form.resting_heart_rate.value }}">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <br>       
                                <label class="checkcontainer {{colorscheme}}">Recalculate all tracks
                                    <input type="checkbox"
                                        name="force_recalculate" 
                                        {% if form.force_recalculate.value %}
                                            checked="checked" 
                                        {% endif %}
                                        id="id_force_recalculate">
                                    <span class="checkmark {{colorscheme}}"></span> 
                                </label>
                            </td>
                        </tr>
                    </table>
                    <table class="scalefont {{colorscheme}}">
                        <tr>
                            <td>
                                <i>Depending on the number of tracks recalculating all tracks might take considerable time.</i>
                            </td>
                        </tr>
                        <tr><td><br></td></tr>
                        <tr>
                            <td>
                                <button type="submit" onclick=processFiles()>Apply and save</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <div class="file-field">
                        <table class="scalefont {{colorscheme}}" width="100%">
                            <tr>
                                <td style="width: 350px;">
                                    <h3>Appearence</h3>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Background image:</label>
                                </td>
                                <td style="text-align: left">
                                    <label for="backgroundimage" 
                                        id="backgroundimagelabel" 
                                        class="gpxfilelabel save btn btn-default scalefont {{colorscheme}}">
                                        <b>Upload</b>
                                    </label>
                                    <div class="btn">
                                        <input type="file" id="backgroundimage" name="backgroundimage" accept="image/jpeg,image/png" style="display:none">
                                    </div>
                                </td>
                                <td>
                                    <div class="file-path-wrapper">
                                        <input class="gpxfilepath file-path validate" type="text" onchange=showUpload() value="{{ backgroundimagenames }}">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="checkcontainer {{colorscheme}}">Show background image
                                        <input type="checkbox"
                                            name="show_backgroundimage" 
                                            {% if form.show_backgroundimage.value %}
                                                checked="checked" 
                                            {% endif %}
                                            id="id_show_backgroundimage">
                                        <span class="checkmark {{colorscheme}}"></span> 
                                    </label>
                                </td>
                            <tr>
                                <td>
                                    <label for="colorscheme">Colorscheme:</label>
                                </td>
                                <td style="text-align: left">
                                    <select name="colorscheme" id="colorscheme">
                                        {% for a_colorscheme in allcolorschemes %}
                                            {% if a_colorscheme == colorscheme %}
                                                <option value="{{ a_colorscheme }}" selected="selected">{{ a_colorscheme }}</option>
                                            {% else %}
                                                <option value="{{ a_colorscheme }}">{{ a_colorscheme }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <table class="scalefont {{colorscheme}}">
                <tr>
                    <td>
                        <button type="submit" onclick=processFiles()>Apply and save</button>
                                &nbsp;or&nbsp;
                                <button type="submit" name="defaultappearence" onclick=processFiles()>Use default appearence</button>
                    </td>
                </tr>
            </table>
            <hr>
            <div class="row">
                <div class="col-12">
                    <table class="scalefont {{colorscheme}}">
                            <tr>
                                <td style="width: 550px;">
                                    <h3>Optional columns</h3>
                                </td>
                                <td style="width: 500px;">
                                    <h3>Public tracks settings</h3>
                                </td>
                            </tr>
                            <tr>
                                <td>       
                                    <label class="checkcontainer {{colorscheme}}">Average speed
                                        <input type="checkbox"
                                            name="show_avgspeed" 
                                            {% if form.show_avgspeed.value %}
                                                checked="checked" 
                                            {% endif %}
                                            id="id_show_avgspeed">
                                        <span class="checkmark {{colorscheme}}"></span> 
                                    </label>
                                </td>
                                <td>       
                                    <label class="checkcontainer {{colorscheme}}">Link to detail page
                                        <input type="checkbox"
                                            name="link_to_detail_page" 
                                            {% if form.link_to_detail_page.value %}
                                                checked="checked" 
                                            {% endif %}
                                            id="id_link_to_detail_page">
                                        <span class="checkmark {{colorscheme}}"></span> 
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="checkcontainer {{colorscheme}}">Maximum speed
                                        <input type="checkbox" 
                                            name="show_maxspeed" 
                                            {% if form.show_maxspeed.value %}
                                                checked="checked" 
                                            {% endif %}
                                            id="id_show_maxspeed">
                                        <span class="checkmark {{colorscheme}}"></span> 
                                    </label>
                                </td>
                                <td>       
                                    <label class="checkcontainer {{colorscheme}}">Show markers
                                        <input type="checkbox"
                                            name="show_intermediate_points" 
                                            {% if form.show_intermediate_points.value %}
                                                checked="checked" 
                                            {% endif %}
                                            id="id_show_intermediate_points">
                                        <span class="checkmark {{colorscheme}}"></span> 
                                    </label>
                            </tr>
                            <tr>
                                <td>
                                    <label class="checkcontainer {{colorscheme}}">Total ascent
                                    <input type="checkbox" 
                                        name="show_totalascent" 
                                        {% if form.show_totalascent.value %}
                                            checked="checked" 
                                        {% endif %}
                                        id="id_show_totalascent">
                                    <span class="checkmark {{colorscheme}}"></span> 
                                </label>
                                </td>
                                <td>       
                                    <label class="checkcontainer {{colorscheme}}">Show download GPX track
                                        <input type="checkbox"
                                            name="show_download_gpx" 
                                            {% if form.show_download_gpx.value %}
                                                checked="checked" 
                                            {% endif %}
                                            id="id_show_download_gpx">
                                        <span class="checkmark {{colorscheme}}"></span> 
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="checkcontainer {{colorscheme}}">Total descent
                                    <input type="checkbox" 
                                        name="show_totaldescent" 
                                        {% if form.show_totaldescent.value %}
                                            checked="checked" 
                                        {% endif %}
                                        id="id_show_totaldescent">
                                    <span class="checkmark {{colorscheme}}"></span> 
                                </label>
                                </td>
                                <td>       
                                    <label class="checkcontainer {{colorscheme}}">Show heart rate
                                        <input type="checkbox"
                                            name="show_heartrate" 
                                            {% if form.show_heartrate.value %}
                                                checked="checked" 
                                            {% endif %}
                                            id="id_show_heartrate">
                                        <span class="checkmark {{colorscheme}}"></span> 
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="checkcontainer {{colorscheme}}">Average cadence
                                        <input type="checkbox" 
                                            name="show_avgcadence" 
                                            {% if form.show_avgcadence.value %}
                                                checked="checked" 
                                            {% endif %}
                                            id="id_show_avgcadence">
                                        <span class="checkmark {{colorscheme}}"></span> 
                                    </label>
                                </td>
                                <td>       
                                    <label class="checkcontainer {{colorscheme}}">Show cadence
                                        <input type="checkbox"
                                            name="show_cadence" 
                                            {% if form.show_cadence.value %}
                                                checked="checked" 
                                            {% endif %}
                                            id="id_show_cadence">
                                        <span class="checkmark {{colorscheme}}"></span> 
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="checkcontainer {{colorscheme}}">Average heart rate
                                    <input type="checkbox" 
                                        name="show_avgheartrate" 
                                        {% if form.show_avgheartrate.value %}
                                            checked="checked" 
                                        {% endif %}
                                        id="id_show_avgheartrate">
                                    <span class="checkmark {{colorscheme}}"></span> 
                                </label>
                                </td>
                                <td>
                                    <label class="checkcontainer {{colorscheme}}">Show track effort
                                        <input type="checkbox"
                                            name="show_trackeffort_public"
                                            {% if form.show_trackeffort_public.value %}
                                                checked="checked"
                                            {% endif %}
                                            id="id_show_trackeffort_public">
                                        <span class="checkmark {{colorscheme}}"></span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="checkcontainer {{colorscheme}}">Track effort
                                        <input type="checkbox"
                                            name="show_trackeffort"
                                            {% if form.show_trackeffort.value %}
                                                checked="checked"
                                            {% endif %}
                                            id="id_show_trackeffort">
                                        <span class="checkmark {{colorscheme}}"></span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="checkcontainer {{colorscheme}}">Public track indicator
                                        <input type="checkbox"
                                            name="show_is_public_track"
                                            {% if form.show_is_public_track.value %}
                                                checked="checked"
                                            {% endif %}
                                            id="id_show_is_public_track">
                                        <span class="checkmark {{colorscheme}}"></span>
                                    </label>
                                </td>
                            </tr>
                        </div>
                    </table>
                </div>
            </div>
            <table class="scalefont {{colorscheme}}">
                <tr>
                    <td>
                        <button type="submit" onclick=processFiles()>Apply and save</button>
                    </td>
                </tr>
            </table>
            <hr>
        </form>
    </div>
    {% if request.user.is_superuser %}
    <div class="row">
        <div class="col-3">
            <table class="scalefont {{colorscheme}}">
                <tr>
                    <td>
                        <a href="{% url 'cleanup' %}" class="{{colorscheme}}"><button onclick=processFiles()>CleanUp</button></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    {% endif %}
{% endblock %}