{% extends 'registration/base.html' %}
{% load static %}

{% block content %}
<div class="container"
    <div class="row">
        <div class="col-3">
            <table class="scalefont">
                <tr>
                    <td valign="Top"><b>Intermediate points</b></td>
                    <td valign="Bottom" style="text-align:right">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <select name="Intermediate_points" id="intermediate_points" onchange=this.form.submit()>
                                {% if intermediate_points_selected == 0 %}
                                    <option value=0 selected="selected">none</option>
                                {% else %}
                                    <option value=0>none</option>
                                {% endif %}
                                {% if intermediate_points_selected == 1000 %}
                                    <option value=1000 selected="selected">every 1 km</option>
                                {% else %}
                                    <option value=1000>every 1 km</option>
                                {% endif %}
                                {% if intermediate_points_selected == 3000 %}
                                    <option value=3000 selected="selected">every 3 km</option>
                                {% else %}
                                    <option value=3000>every 3 km</option>
                                {% endif %}
                                {% if intermediate_points_selected == 5000 %}
                                    <option value=5000 selected="selected">every 5 km</option>
                                {% else %}
                                    <option value=5000>every 5 km</option>
                                {% endif %}
                                {% if intermediate_points_selected == 10000 %}
                                    <option value=10000 selected="selected">every 10 km</option>
                                {% else %}
                                    <option value=10000>every 10 km</option>
                                {% endif %}
                            </select>
                        </form>   
                    </td>
                </tr>
                <tr>
                    <td><b>Filename</b></td>
                    <td style="text-align:right">{{ atrack.displayfilename }}</td>
                </tr>
                <tr>
                    <td><b>Created&nbsp;date</b></td>
                    <td style="text-align:right">{{ atrack.created_date|date:"d b Y" }}</td>
                </tr>
                <tr>
                    <td><b>Name</b></td>
                    <td style="text-align:right">{{ atrack.name }}</td>
                </tr>
                <tr>
                    <td><b>Profile</b></td>
                    {% if atrack.profile %}
                        <td style="text-align:right">{{ atrack.profile }}</td>
                    {% else %}
                        <td style="text-align:right">-</td>
                    {% endif %}
                </tr>
                <tr>
                    <td><b>Length&nbsp;(km)</b></td>
                    <td  style="text-align:right">{{ atrack.length }}</td>
                </tr>
                <tr>
                    <td><b>Duration</b></td>
                    <td  style="text-align:right">{{ atrack.timelength|time:"H:i:s" }}</td>
                </tr>
                <tr>
                    <td><b>Average&nbsp;speed&nbsp;(km/h)</b></td>
                    <td style="text-align:right">{{ atrack.avgspeed }}</td>
                </tr>
                <tr>
                    <td><b>Maximum&nbsp;speed&nbsp;(km/h)</b></td>
                    <td style="text-align:right">{{ atrack.maxspeed }}</td>
                </tr>
                <tr>
                    <td><b>Total&nbsp;descent&nbsp;(m)</b></td>
                    <td style="text-align:right">{{ atrack.totaldescent }}</td>
                </tr>
                <tr>
                    <td><b>Total&nbsp;ascent&nbsp;(m)</b></td>
                    <td style="text-align:right">{{ atrack.totalascent }}</td>
                </tr>
                {% if atrack.avgcadence > 0 %}
                    <tr>
                        <td><b>Average&nbsp;cadence</b></td>
                        <td style="text-align:right">{{ atrack.avgcadence }}</td>
                    </tr>
                {% endif %}
                {% if atrack.maxcadence > 0 %}
                    <tr>
                        <td><b>Maximum&nbsp;cadence</b></td>
                        <td  style="text-align:right">{{ atrack.maxcadence }}</td>
                    </tr>
                {% endif %}
                <tr>
                    {% if atrack.avgheartrate > 0 %}
                    <td><b>Average&nbsp;heartrate</b></td>
                    <td  style="text-align:right">{{ atrack.avgheartrate }}</td>
                </tr>
                {% endif %}
                {% if atrack.minheartrate  < 999 %}
                    <tr>
                        <td><b>Mininimum&nbsp;heartrate</b></td>
                        <td  style="text-align:right">{{ atrack.minheartrate }}</td>
                    </tr>
                {% endif %}
                {% if atrack.maxheartrate  > 0 %}
                    <tr>
                        <td><b>Maximum&nbsp;heartrate</b></td>
                        <td  style="text-align:right">{{ atrack.maxheartrate }}</td>
                    </tr>
                {% endif %}
            </table>
            <hr>
            <table class="scalefont">
                <tr>
                    <td>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="Intermediate_points" value="{{ intermediate_points_selected }}">
                            <input type="hidden" name="gpxdownload" value="True">
                            <input type="submit" id="gpxdownload" value="Download .gpx file">
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-9">
            <iframe class="responsive-iframe" src={{ map_filename }} title="Track map"></iframe>
        </div>
    </div>
</div>
{% endblock %}