{% extends 'acstracks_app/base.html' %}

{% block content %}
<script>
    function processFiles() {
        document.getElementById("id-processing-p").style.display = "block";
        document.getElementById("id-processing-img").style.display = "block";
        document.getElementById("uploadform").submit();
    }
</script>

<table style="width: 100%;overflow-x: auto" class="scalefont {{colorscheme}}">
    <tr>
        <td>
            <form method="post" enctype="multipart/form-data" id="uploadform">
                {% csrf_token %}
                <label class="checkcontainer {{colorscheme}}"><b>{{ annual_statistics }}</b>
                <input type="checkbox"
                    name="annual_statistics"
                    {% if page_headline == annual_statistics %}
                        checked="checked" 
                        disabled="disabled"
                    {% else %}
                        onchange=processFiles()
                    {% endif %}
                    id="id_annual_statistics">
                <span class="checkmark {{colorscheme}}"></span> 
                </label>
                <label class="checkcontainer {{colorscheme}}"><b>{{ profile_statistics }}</b>
                <input type="checkbox"
                    name="profile_statistics"
                    {% if page_headline == profile_statistics %}
                        checked="checked" 
                        disabled="disabled"
                    {% else %}
                        onchange=processFiles()
                    {% endif %}
                    id="id_profile_statistics">
                    <span class="checkmark {{colorscheme}}"></span> 
                </label>
            </td>
        </form>
    </tr>
    </table>
    {% for track in tracks %}
    <table style="width: 100%;overflow-x: auto" class="scalefont {{colorscheme}}">
        <tr>
            <td>
                {% if page_headline == annual_statistics %}
                    <a href="{% url 'heatmap'  profile='All' year=track.year %}" class="{{colorscheme}}" onclick=processFiles()><h3>{{ track.year }}</h3></a>
                {% else %}
                    <a href="{% url 'heatmap' profile=track.profile year='0' %}" class="{{colorscheme}}" onclick=processFiles()><h3>{{ track.profile }}</h3>
                {% endif %}
            </td>
        </tr>
    </table>
    <table id="click-table" style="overflow-x:auto;" class="table-hover scalefont">
        <thead>
        {% if page_headline == annual_statistics %}
            <th>Year</th>
        {% else %}
            <th>Tag</th>
        {% endif %}
            <th style="text-align:right">Number of rides</th>
            <th style="text-align:right">Total length (km)</th>
            <th style="text-align:right">Average speed (km/h)</th>
            <th style="text-align:right">Highest average speed (km/h)</th>
            <th style="text-align:right">Highest maximum speed (km/h)</th>
            <th style="text-align:right">Longest track (km)</th>
            <th style="text-align:right">Longest duration</th>
            <th style="text-align:right">Maximum ascent</th>
            <th style="text-align:right">Maximum descent</th>
        </thead>
        <tbody>
        {% for stats_collection in track.stats_collection %}
            {% if stats_collection.statistics.number_of_tracks > 0 %}
                <tr class="table-row">
                {% if page_headline == annual_statistics %}
                    <td><a href="{% url 'heatmap' profile=stats_collection.profile year=track.year %}" class="{{colorscheme}}" onclick=processFiles()>{{ stats_collection.profile }}</a></td>
                {% elif stats_collection.year == 'Total' %}
                    <td><a href="{% url 'heatmap' profile=track.profile %}" class="{{colorscheme}}" onclick=processFiles()>{{ stats_collection.year }}</a></td>
                {% else %}
                    <td><a href="{% url 'heatmap' profile=track.profile year=stats_collection.year %}" class="{{colorscheme}}" onclick=processFiles()>{{ stats_collection.year }}</a></td>
                {% endif %}
                    <td style="text-align:right">{{ stats_collection.statistics.number_of_tracks }}</td> 
                    <td style="text-align:right">{{ stats_collection.statistics.total_length}}</td>
                    <td style="text-align:right">{{ stats_collection.statistics.total_avgspeed }}</td> 
                    <td style="text-align:right">{{ stats_collection.statistics.highest_avgspeed }}</td>
                    <td style="text-align:right">{{ stats_collection.statistics.highest_maxspeed }}</td>
                    <td style="text-align:right">{{ stats_collection.statistics.longest_length }}</td>
                    <td style="text-align:right">{{ stats_collection.statistics.longest_duration }}</td>
                    <td style="text-align:right">{{ stats_collection.statistics.max_ascent }}</td>
                    <td style="text-align:right">{{ stats_collection.statistics.max_descent }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <hr>
    {% endfor %}
</table>
{% endblock %}