{% extends 'acstracks_app/base.html' %}
{% load static %}

{% block content %}
<script>
    function processFiles(id) {
        document.getElementById("id-processing-p").style.visibility = "visible";
        document.getElementById("id-processing-img").style.visibility = "visible";
        document.getElementById(id).submit();
    }
</script>

<div class="container"
    <div class="row">
        <div class="col-3">
            <table style="width: 100%;overflow-x: auto" class="scalefont">
                <tr>
                    <td><h3>Heatmap</h3></td>
                </tr>
                <form method="post" enctype="multipart/form-data" id="uploadform">
                {% csrf_token %}
                <input type="hidden" name="New_date_start" value="{{ new_date_start }}">
                <input type="hidden" name="New_date_end" value="{{ new_date_end }}">
                <input type="hidden" name="Order" value="{{ order_selected }}">
                <input type="hidden" name="New_profile" value="{{ new_profile_filter }}">
                <input type="hidden" name="Intermediate_points" value="{{ intermediate_points_selected }}">
                <input type="hidden" name="Order" value="{{ order_selected }}">
                <input type="hidden" name="Date_start" value="{{ date_start }}">
                <input type="hidden" name="Date_end" value="{{ date_end }}">
                <input type="hidden" name="Profile" value="{{ profile_filter }}">
                <tr>
                    <td><label for="Date_start">Start date:</label></td>
                    <td><input name="New_date_start" id="new_date_start" type="date" value="{{ new_date_start }}"></td>
                </tr>
                <tr>
                    <td><label for="New_date_end">End date:</label></td>
                    <td><input name="New_date_end" id="new_date_end" type="date" value="{{ new_date_end }}"></td>
                </tr>
                <tr>
                    <td><b>Profile</b></td>
                    <td>
                        <select name="New_profile" id="new_profile">
                            {% if bike_profile_filters %}
                                {% for new_profile in bike_profile_filters %}
                                    {% if new_profile == new_profile_filter %}
                                        <option value="{{ new_profile }}" selected="selected">{{ new_profile }}</option>
                                    {% else %}
                                        <option value="{{ new_profile }}">{{ new_profile }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td valign="Bottom" style="text-align:right">
                        <input type="submit" onclick=processFiles("uploadform") value="Filter">
                        <hr>   
                    </td>
                </tr>
                </form>
                <hr>    
                <tr>
                    <td><a href="{% url 'show_statistics' date_start=date_start date_end=date_end order_selected=order_selected profile_filter=profile_filter intermediate_points_selected=intermediate_points_selected %}">
                        <h3>Statistics</h3></a></td>
                </tr>
                <tr>
                    <td><b>Number&nbsp;of&nbsp;rides</b></td><td style="text-align:right">{{ statistics.number_of_tracks }}</td>
                </tr>
                <tr>
                    <td><b>Total&nbsp;length&nbsp;(km)</b></td><td style="text-align:right">{{ statistics.total_length }}</td>
                </tr>
                <tr>
                    <td><b>Total&nbsp;duration&nbsp;</b></td><td style="text-align:right">{{ statistics.total_duration }}</td>
                </tr>
                <tr>
                    <td><b>Total&nbsp;average&nbsp;speed (km/h)</b></td><td style="text-align:right">{{ statistics.total_avgspeed }}</td>
                </tr>
                <tr>
                    <td><b>Longest&nbsp;track&nbsp;(km)</b></td><td style="text-align:right">{{ statistics.longest_length }}</td>
                </tr>
                <tr>
                    <td><b>Longest&nbsp;duration</b></td><td style="text-align:right">{{ statistics.longest_duration }}</td>
                </tr>
                <tr>
                    <td><b>Highest&nbsp;maximum&nbsp;speed&nbsp;(km/h)</b></td><td style="text-align:right">{{ statistics.highest_maxspeed }}</td>
                </tr>
                <tr>
                    <td><b>Highest&nbsp;average&nbsp;speed&nbsp;(km/h)</b></td><td style="text-align:right">{{ statistics.highest_avgspeed }}</td>
                </tr>
                <tr>
                    <td><b>Maximum&nbsp;ascent&nbsp;(m)</b></td><td style="text-align:right">{{ statistics.max_ascent }}</td>
                </tr>
                <tr>
                    <td><b>Maximum&nbsp;descent&nbsp;(m)</b></td><td style="text-align:right">{{ statistics.max_descent }}</td>
                </tr>
                <br><br>
                <tr>
                    <td>
                        <p id="id-processing-p" style="text-align: left; visibility: hidden;">Please be patient, I'm busy...</p>
                        <img id="id-processing-img" style="float:left; width:135px; height:111px; visibility: hidden;" src="/static/img/acstracks-progress.gif">
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-9">
            <iframe class="responsive-iframe" src={{ map_filename }} title="Track map"></iframe>
        </div>
    </div>
</div>
{% endblock %}