{% extends 'acstracks_app/base.html' %}
{% load static %}

{% block content %}
<script>
    function processFiles() {
        document.getElementById("id-processing-p").style.display = "block";
        document.getElementById("id-processing-img").style.display = "block";
        $(this).submit();
    }
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <table style="width: 100%;overflow-x: auto" class="scalefont">
                <tr>
                    <td><h3>Heatmap</h3></td>
                </tr>
                <form method="post" enctype="multipart/form-data" id="uploadform">
                    {% csrf_token %}
                    <tr>
                        <td><label for="Date_start">Start date:</label></td>
                        <td><input name="Date_start" id="date_start" type="date" value="{{ date_start }}"></td>
                    </tr>
                    <tr>
                        <td><label for="Date_end">End date:</label></td>
                        <td><input name="Date_end" id="date_end" type="date" value="{{ date_end }}"></td>
                    </tr>
                    <tr>
                        <td><b>Profile</b></td>
                        <td>
                            <select name="Profile" id="profile">
                                {% if bike_profile_filters %}
                                    {% for profile in bike_profile_filters %}
                                        {% if profile == profile_filter %}
                                            <option value="{{ profile }}" selected="selected">{{ profile }}</option>
                                        {% else %}
                                            <option value="{{ profile }}">{{ profile }}</option>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td valign="Bottom" style="text-align:right">
                            <input type="submit" onclick=processFiles() value="Filter">
                        </td>
                    </tr>
                </form>
                <hr>   
                <hr>    
                <tr>
                    <td><h3>Statistics</h3></td>
                </tr>
                <tr>
                    <td><b>Number&nbsp;of&nbsp;rides</b></td><td style="text-align:right">{{ statistics.number_of_tracks }}</td>
                </tr>
                <tr>
                    <td><b>Total&nbsp;length&nbsp;(km)</b></td><td style="text-align:right">{{ statistics.total_length }}</td>
                </tr>
                <tr>
                    <td><b>Total&nbsp;duration&nbsp;</b></td><td style="text-align:right">{{ statistics.total_duration }}</td>
                </tr>
                <tr>
                    <td><b>Total&nbsp;average&nbsp;speed (km/h)</b></td><td style="text-align:right">{{ statistics.total_avgspeed }}</td>
                </tr>
                <tr>
                    <td><b>Longest&nbsp;track&nbsp;(km)</b></td><td style="text-align:right">{{ statistics.longest_length }}</td>
                </tr>
                <tr>
                    <td><b>Longest&nbsp;duration</b></td><td style="text-align:right">{{ statistics.longest_duration }}</td>
                </tr>
                <tr>
                    <td><b>Highest&nbsp;maximum&nbsp;speed&nbsp;(km/h)</b></td><td style="text-align:right">{{ statistics.highest_maxspeed }}</td>
                </tr>
                <tr>
                    <td><b>Highest&nbsp;average&nbsp;speed&nbsp;(km/h)</b></td><td style="text-align:right">{{ statistics.highest_avgspeed }}</td>
                </tr>
                <tr>
                    <td><b>Maximum&nbsp;ascent&nbsp;(m)</b></td><td style="text-align:right">{{ statistics.max_ascent }}</td>
                </tr>
                <tr>
                    <td><b>Maximum&nbsp;descent&nbsp;(m)</b></td><td style="text-align:right">{{ statistics.max_descent }}</td>
                </tr>
                <br><br>
            </table>
        </div>
        <div class="col-9">
            <iframe class="responsive-iframe" src={{ map_filename }} title="Track map"></iframe>
        </div>
    </div>
</div>
{% endblock %}