{% extends 'acstracks_app/base.html' %}

{% block content %}
    <table style="width:100%">
        <tr>
            <td>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="Order" value="{{ order_selected }}">
                    <input type="hidden" name="Profile" value="{{ profile_filter }}">
                    <input type="hidden" name="Intermediate_points" value="{{ intermediate_points_selected }}">
                    <input type="file" id="myfile" name="myfile" accept=".gpx" multiple>
                    <input type="submit">
                </form>
            </td>
        </tr>
    </table>
    <table style="width:100%">
        <tr>
            <td>
            {% if statistics.total_length > 0 %}
            <table>
                <tr>
                    <td><b>Number of tracks</b></td><td style="text-align:right">{{ tracks.count }}</td>
                </tr>
                <tr>
                    <tr>
                        <td><b>Total length (km)</b></td><td style="text-align:right">{{ statistics.total_length }}</td>
                    </tr>
                    <tr>
                        <td><b>Total average speed (km/h)</b></td><td style="text-align:right">{{ statistics.total_avgspeed }}</td>
                </tr>
                <tr>
                    <td><b>Longest track (km)</b></td><td style="text-align:right">{{ statistics.longest_length }}</td>
                    <td>{{ statistics.datetime_longest_length|date:"d b Y" }}</td>
                </tr>
                <tr>
                    <td><b>Longest duration</b></td><td style="text-align:right">{{ statistics.longest_duration }}</td>
                    <td>{{ statistics.datetime_longest_duration|date:"d b Y" }}</td>
                </tr>
                <tr>
                    <td><b>Highest maximum speed (km/h)</b></td><td style="text-align:right">{{ statistics.highest_maxspeed }}</td>
                    <td>{{ statistics.datetime_highest_maxspeed|date:"d b Y" }}</td>
                </tr>
                <tr>
                    <td><b>Highest average speed (km/h)</b></td><td style="text-align:right">{{ statistics.highest_avgspeed }}</td>
                    <td>{{ statistics.datetime_highest_avgspeed|date:"d b Y" }}</td>
                </tr>
                <tr>
                    <td><b>Maximum ascent (m)</b></td><td style="text-align:right">{{ statistics.max_ascent }}</td>
                    <td>{{ statistics.datetime_max_ascent|date:"d b Y" }}</td>
                </tr>
                <tr>
                    <td><b>Maximum descent (m)</b></td><td style="text-align:right">{{ statistics.max_descent }}</td>
                    <td>{{ statistics.datetime_max_descent|date:"d b Y" }}</td>
                </tr>
            </table>
            {% endif %}
            </td>
            <td valign="Bottom" style="text-align:right">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="Profile" value="{{ profile_filter }}">
                    <input type="hidden" name="Intermediate_points" value="{{ intermediate_points_selected }}">
                    <label for="Order">Sort order:</label>
                    <select name="Order" id="order" onclick=this.form.submit()>
                        {% if order_selected == "created_date_ascending" %}
                            <option value="created_date_ascending" selected="selected">Created date (ascending)</option>
                        {% else %}
                            <option value="created_date_ascending">Created date (ascending)</option>
                        {% endif %}
                        {% if order_selected == "created_date_descending" %}
                            <option value="created_date_descending" selected="selected">Created date (descending)</option>
                        {% else %}
                            <option value="created_date_descending">Created date (descending)</option>
                        {% endif %}
                        {% if order_selected == "length_ascending" %}
                            <option value="length_ascending" selected="selected">Length (ascending)</option>
                        {% else %}
                            <option value="length_ascending">Length (ascending)</option>
                        {% endif %}
                        {% if order_selected == "length_descending" %}
                            <option value="length_descending" selected="selected">Length (descending)</option>
                        {% else %}
                            <option value="length_descending">Length (descending)</option>
                        {% endif %}
                        {% if order_selected == "duration_ascending" %}
                            <option value="duration_ascending" selected="selected">Duration (ascending)</option>
                        {% else %}
                            <option value="duration_ascending">Duration (ascending)</option>
                        {% endif %}
                        {% if order_selected == "duration_descending" %}
                            <option value="duration_descending" selected="selected">Duration (descending)</option>
                        {% else %}
                            <option value="duration_descending">Duration (descending)</option>
                        {% endif %}
                        {% if order_selected == "avgspeed_ascending" %}
                            <option value="avgspeed_ascending" selected="selected">Average speed (ascending)</option>
                        {% else %}
                            <option value="avgspeed_ascending">Average speed (ascending)</option>
                        {% endif %}
                        {% if order_selected == "avgspeed_descending" %}
                            <option value="avgspeed_descending" selected="selected">Average speed (descending)</option>
                        {% else %}
                            <option value="avgspeed_descending">Average speed (descending)</option>
                        {% endif %}
                        {% if order_selected == "maxspeed_ascending" %}
                            <option value="maxspeed_ascending" selected="selected">Maximum speed_ascending</option>
                        {% else %}
                            <option value="maxspeed_ascending">Maximum speed (ascending)</option>
                        {% endif %}
                        {% if order_selected == "maxspeed_descending" %}
                            <option value="maxspeed_descending" selected="selected">Maximum speed (descending)</option>
                        {% else %}
                            <option value="maxspeed_descending">Maximum speed (descending)</option>
                        {% endif %}
                        </select>
                </form>   
            </td>
        </tr>
    </table><br><br>        
    <table style="width:100%">
        <th valign="Top" width=400>Filename</th>
        <th valign="Top" width=200>Created date</th>
        <th valign="Top" width=200>Name</th>
        <th valign="Top">
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="Order" value="{{ order_selected }}">
            <input type="hidden" name="Intermediate_points" value="{{ intermediate_points_selected }}">
            <label for="Profile">Profile:</label>
            <select name="Profile" id="profile" onclick=this.form.submit()>
            {% if bike_profiles %}
                {% for profile in bike_profiles %}
                    {% if profile == profile_filter %}
                        <option value={{ profile }} selected="selected">{{ profile }}</option>
                    {% else %}
                        <option value={{ profile }}>{{ profile }}</option>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </select>
        </th>
        <th valign="Top" style="text-align:right">Length</th>
        <th valign="Top" style="text-align:right">Duration</th>
        <th valign="Top" style="text-align:right">Average<br>speed</th>
        <th valign="Top" style="text-align:right">Maximum<br>speed</th>
        <th valign="Top" style="text-align:right">Total<br>ascent</th>
        <th valign="Top" style="text-align:right">Total<br>descent</th>
        <th valign="Top" style="text-align:right">Average<br>cadence</th>
        <th valign="Top" style="text-align:right">Average<br>heartrate</th>
        {% for track in tracks %}
            <tr>
                <td><a href="{% url 'track_detail' pk=track.pk order_selected=order_selected profile_filter=profile_filter intermediate_points_selected=intermediate_points_selected %}"><b>{{ track.displayfilename }}</b></a></td>
                <td>{{ track.created_date|date:"d b Y" }}</td>
                <td>{{ track.name }}</td>
                <td>{{ track.profile }}</td>
                <td style="text-align:right">{{ track.length }}</td>
                <td style="text-align:right">{{ track.timelength|time:"H:i:s" }}</td>
                <td style="text-align:right">{{ track.avgspeed }}</td>
                <td style="text-align:right">{{ track.maxspeed }}</td>
                <td style="text-align:right">{{ track.totalascent }}</td>
                <td style="text-align:right">{{ track.totaldescent }}</td>
                {% if track.avgcadence %}
                    <td style="text-align:right">{{ track.avgcadence }}</td>
                {% else %}
                    <td  style="text-align:right">-</td>
                {% endif %}
                {% if track.avgheartrate %}
                    <td  style="text-align:right">{{ track.avgheartrate }}</td>
                {% else %}
                    <td  style="text-align:right">-</td>
                {% endif %}
                </tr>
        {% endfor %}
    </table>
    
{% endblock %}