{% extends 'acstracks_app/base.html' %}

{% block content %}
    <script>
        function processFiles() {
            document.getElementById("id-processing-p").style.display = "block";
            document.getElementById("id-processing-img").style.display = "block";
            document.getElementById("id-messages").style.display = "none";
            $(this).submit();
        }
        function showUpload() {
            document.getElementById("id-gpxloadlabel").style.display = "inline";
        }
    </script>

    <table style="width:100%" class="scalefont">
        <form method="post" class="md-form" id="uploadform" enctype="multipart/form-data">
            {% csrf_token %}
            <tr>
                <td style="width:20%">
                    <div class="file-field">
                        <label for="gpxfile" 
                                id="gpxfilelabel" 
                                class="gpxfilelabel save btn btn-default scalefont">
                                <b>Select one or more GPX files to upload</b>
                        </label>
                        <div class="btn">
                            <input type="file" id="gpxfile" name="gpxfile" accept=".gpx" multiple style="display:none">
                        </div>
                        <div class="file-path-wrapper col-12">
                            <input class="gpxfilepath file-path validate" type="text" onchange=showUpload() value="{{ gpxfilenames }}">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:20%">
                    <label for="gpxload" 
                            id="id-gpxloadlabel" 
                            class="gpxfilelabel save btn btn-default scalefont" 
                            style="display:none" onclick=processFiles()>
                            <b>Upload the selected GPX file(s)</b>
                        </label>
                    <input type="submit" id="gpxload" style="display:none">
                </td>
            </tr>
        </form>
    </table>
    <table style="width: 100%;overflow-x: auto" class="scalefont">
        <tr>
            <td>
            <table class="scalefont">
                <tr>
                    <td><b>Number&nbsp;of&nbsp;rides</b></td><td style="text-align:right">{{ statistics.number_of_tracks }}</td>
                </tr>
                <tr>
                    <td><b>Total&nbsp;length&nbsp;(km)</b></td><td style="text-align:right">{{ statistics.total_length }}</td>
                </tr>
                <tr>
                    <td><b>Total&nbsp;duration&nbsp;</b></td><td style="text-align:right">{{ statistics.total_duration }}</td>
                </tr>
                <tr>
                    <td><b>Total&nbsp;average&nbsp;speed (km/h)</b></td><td style="text-align:right">{{ statistics.total_avgspeed }}</td>
                </tr>
                <tr>
                    <td><b>Longest&nbsp;track&nbsp;(km)</b></td><td style="text-align:right">{{ statistics.longest_length }}</td>
                    <td style="width: 300px;">{{ statistics.datetime_longest_length|date:"d b Y" }}</td>
                </tr>
                <tr>
                    <td><b>Longest&nbsp;duration</b></td><td style="text-align:right">{{ statistics.longest_duration }}</td>
                    <td style="width: 300px;">{{ statistics.datetime_longest_duration|date:"d b Y" }}</td>
                </tr>
                <tr>
                    <td><b>Highest&nbsp;maximum&nbsp;speed&nbsp;(km/h)</b></td><td style="text-align:right">{{ statistics.highest_maxspeed }}</td>
                    <td style="width: 300px;">{{ statistics.datetime_highest_maxspeed|date:"d b Y" }}</td>
                </tr>
                <tr>
                    <td><b>Highest&nbsp;average&nbsp;speed&nbsp;(km/h)</b></td><td style="text-align:right">{{ statistics.highest_avgspeed }}</td>
                    <td style="width: 300px;">{{ statistics.datetime_highest_avgspeed|date:"d b Y" }}</td>
                </tr>
                <tr>
                    <td><b>Maximum&nbsp;ascent&nbsp;(m)</b></td><td style="text-align:right">{{ statistics.max_ascent }}</td>
                    <td style="width: 300px;">{{ statistics.datetime_max_ascent|date:"d b Y" }}</td>
                </tr>
                <tr>
                    <td><b>Maximum&nbsp;descent&nbsp;(m)</b></td><td style="text-align:right">{{ statistics.max_descent }}</td>
                    <td style="width: 300px;">{{ statistics.datetime_max_descent|date:"d b Y" }}</td>
                </tr>
            </table>
            </td>
            <td valign="Bottom">
                <table style="width: 100%;overflow-x: auto" class="scalefont">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <tr>
                            <td valign="Bottom" style="text-align:right">
                                <input type="submit" name="Reset_filters" value="Reset filters">
                            </td>
                        </tr>
                        <tr>
                            <td valign="Bottom" style="text-align:right">
                                <label for="Date_start">Start date:</label>
                                <input name="Date_start" id="date_start" type="date" value="{{ preference.date_start }}">
                            </td>
                        </tr>
                        <tr>
                            <td valign="Bottom" style="text-align:right">
                                    <label for="Date_end">End date:</label>
                                    <input name="Date_end" id="date_end" type="date" value="{{ preference.date_end }}">
                            </td>
                        </tr>
                        <tr>
                            <td valign="Bottom" style="text-align:right">
                                <input type="submit" value="Filter dates">
                                <hr>   
                            </td>
                        </tr>
                    </form>
                    <tr>
                        <td valign="Bottom" style="text-align:right">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <label for="Order">Sort order:</label>
                                <select name="Order" id="order" onchange=this.form.submit()>
                                    {% if preference.order_selected == "created_date_ascending" %}
                                        <option value="created_date_ascending" selected="selected">Created date (ascending)</option>
                                    {% else %}
                                        <option value="created_date_ascending">Created date (ascending)</option>
                                    {% endif %}
                                    {% if preference.order_selected == "created_date_descending" %}
                                        <option value="created_date_descending" selected="selected">Created date (descending)</option>
                                    {% else %}
                                        <option value="created_date_descending">Created date (descending)</option>
                                    {% endif %}
                                    {% if preference.order_selected == "length_ascending" %}
                                        <option value="length_ascending" selected="selected">Length (ascending)</option>
                                    {% else %}
                                        <option value="length_ascending">Length (ascending)</option>
                                    {% endif %}
                                    {% if preference.order_selected == "length_descending" %}
                                        <option value="length_descending" selected="selected">Length (descending)</option>
                                    {% else %}
                                        <option value="length_descending">Length (descending)</option>
                                    {% endif %}
                                    {% if preference.order_selected == "duration_ascending" %}
                                        <option value="duration_ascending" selected="selected">Duration (ascending)</option>
                                    {% else %}
                                        <option value="duration_ascending">Duration (ascending)</option>
                                    {% endif %}
                                    {% if preference.order_selected == "duration_descending" %}
                                        <option value="duration_descending" selected="selected">Duration (descending)</option>
                                    {% else %}
                                        <option value="duration_descending">Duration (descending)</option>
                                    {% endif %}
                                    {% if preference.show_avgspeed %}
                                        {% if preference.order_selected == "avgspeed_ascending" %}
                                            <option value="avgspeed_ascending" selected="selected">Average speed (ascending)</option>
                                        {% else %}
                                            <option value="avgspeed_ascending">Average speed (ascending)</option>
                                        {% endif %}
                                    {% endif %}
                                    {% if preference.show_avgspeed %}
                                        {% if preference.order_selected == "avgspeed_descending" %}
                                            <option value="avgspeed_descending" selected="selected">Average speed (descending)</option>
                                        {% else %}
                                            <option value="avgspeed_descending">Average speed (descending)</option>
                                        {% endif %}
                                    {% endif %}
                                    {% if preference.show_maxspeed %}
                                        {% if preference.order_selected == "maxspeed_ascending" %}
                                            <option value="maxspeed_ascending" selected="selected">Maximum speed_ascending</option>
                                        {% else %}
                                            <option value="maxspeed_ascending">Maximum speed (ascending)</option>
                                        {% endif %}
                                    {% endif %}
                                    {% if preference.show_maxspeed %}
                                        {% if preference.order_selected == "maxspeed_descending" %}
                                            <option value="maxspeed_descending" selected="selected">Maximum speed (descending)</option>
                                        {% else %}
                                            <option value="maxspeed_descending">Maximum speed (descending)</option>
                                        {% endif %}
                                    {% endif %}
                                    </select>
                            </form>   
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table><br><br>  
    <table id="click-table" style="overflow-x:auto;" class="table-hover scalefont">
        <th valign="Top" width=400>Filename</th>
        <th valign="Top" width=200>Created&nbsp;date</th>
        <th valign="Top" width=200>Name</th>
        <th valign="Top">
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="Profile">Profile:</label>
            <select name="Profile" id="profile" onchange=this.form.submit()>
            {% if bike_profile_filters %}
                {% for profile in bike_profile_filters %}
                    {% if profile == preference.profile_filter %}
                        <option value="{{ profile }}" selected="selected">{{ profile }}</option>
                    {% else %}
                        <option value="{{ profile }}">{{ profile }}</option>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </select>
            </form>
        </th>
        <th valign="Top" style="text-align:right">Length</th>
        <th valign="Top" style="text-align:right">Duration</th>
        {% if preference.show_avgspeed %}
            <th valign="Top" style="text-align:right">Average<br>speed</th>
        {% endif %}
        {% if preference.show_maxspeed %}
            <th valign="Top" style="text-align:right">Maximum<br>speed</th>
        {% endif %}
        {% if preference.show_totalascent %}
            <th valign="Top" style="text-align:right">Total<br>ascent</th>
        {% endif %}
        {% if preference.show_totaldescent %}
            <th valign="Top" style="text-align:right">Total<br>descent</th>
        {% endif %}
        {% if preference.show_avgcadence %}
            <th valign="Top" style="text-align:right">Average<br>cadence</th>
        {% endif %}
        {% if preference.show_avgheartrate %}
            <th valign="Top" style="text-align:right">Average<br>heartrate</th>
        {% endif %}
        {% for track in tracks %}
            <tr class="table-row" onclick=processFiles()>
                <td><a href="{% url 'track_detail' pk=track.pk %}">{{ track.displayfilename }}</a></td>
                <td>{{ track.created_date|date:"d b Y" }}</td>
                <td>{{ track.name }}</td>
                {% if track.profile %}
                    <td>{{ track.profile }}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
                <td style="text-align:right">{{ track.length }}</td>
                <td style="text-align:right">{{ track.timelength|time:"H:i:s" }}</td>
                {% if preference.show_avgspeed %}
                    <td style="text-align:right">{{ track.avgspeed }}</td>
                {% endif %}
                {% if preference.show_maxspeed %}
                    <td style="text-align:right">{{ track.maxspeed }}</td>
                {% endif %}
                {% if preference.show_totalascent %}
                    <td style="text-align:right">{{ track.totalascent }}</td>
                {% endif %}
                {% if preference.show_totaldescent %}
                    <td style="text-align:right">{{ track.totaldescent }}</td>
                {% endif %}
                {% if preference.show_avgcadence %}
                    {% if track.avgcadence %}
                        <td style="text-align:right">{{ track.avgcadence }}</td>
                    {% else %}
                        <td  style="text-align:right">-</td>
                    {% endif %}
                {% endif %}
                {% if preference.show_avgheartrate %}
                    {% if track.avgheartrate %}
                        <td  style="text-align:right">{{ track.avgheartrate }}</td>
                    {% else %}
                        <td  style="text-align:right">-</td>
                    {% endif %}
                {% endif %}
                </tr>
        {% endfor %}
    </table>
    
{% endblock %}