{% extends 'acstracks_app/base.html' %}
{% load static %}

{% block content %}
<script>
    function processFiles(id) {
        document.getElementById("id-processing-p").style.display = "block";
        document.getElementById("id-processing-img").style.display = "block";
        document.getElementById(id).submit();
    }
    function showSpeed() {
			document.getElementById("id-speed-show").style.display = "block";
			document.getElementById("id-speed-hide").style.display = "none";
			document.getElementById("id-cadence-hide").style.display = "block";
			document.getElementById("id-cadence-show").style.display = "none";
			document.getElementById("id-hr-hide").style.display = "block";
			document.getElementById("id-hr-show").style.display = "none";
    }
    function hideSpeed() {
			document.getElementById("id-speed-show").style.display = "none";
			document.getElementById("id-speed-hide").style.display = "block";
    }
    function showCadence() {
            document.getElementById("id-cadence-hide").style.display = "none";
			document.getElementById("id-cadence-show").style.display = "block";
			document.getElementById("id-hr-show").style.display = "none";
			document.getElementById("id-hr-hide").style.display = "block";
			document.getElementById("id-speed-show").style.display = "none";
			document.getElementById("id-speed-hide").style.display = "block";
    }
    function hideCadence() {
			document.getElementById("id-cadence-show").style.display = "none";
			document.getElementById("id-cadence-hide").style.display = "block";
    }
    function showHR() {
			document.getElementById("id-hr-show").style.display = "block";
			document.getElementById("id-hr-hide").style.display = "none";
			document.getElementById("id-cadence-hide").style.display = "block";
			document.getElementById("id-cadence-show").style.display = "none";
			document.getElementById("id-speed-show").style.display = "none";
			document.getElementById("id-speed-hide").style.display = "block";
    }
    function hideHR() {
			document.getElementById("id-hr-show").style.display = "none";
			document.getElementById("id-hr-hide").style.display = "block";
    }
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <table style="width: 100%;" class="scalefont {{colorscheme}}">
                <tr>
                    <td valign="Top" style="text-align:left;"><b>Markers</b></td>
                    <td valign="Bottom" style="text-align:right;">
                        <form method="post" id="form1" enctype="multipart/form-data">
                            {% csrf_token %}
                            <select name="Intermediate_points" id="intermediate_points" onchange=processFiles("form1")>
                                {% if preference.intermediate_points_selected == 0 %}
                                    <option value=0 selected="selected">None</option>
                                {% else %}
                                    <option value=0>None</option>
                                {% endif %}
                                {% if preference.intermediate_points_selected == 1000 %}
                                    <option value=1000 selected="selected">Every 1 km</option>
                                {% else %}
                                    <option value=1000>Every 1 km</option>
                                {% endif %}
                                {% if preference.intermediate_points_selected == 3000 %}
                                    <option value=3000 selected="selected">Every 3 km</option>
                                {% else %}
                                    <option value=3000>Every 3 km</option>
                                {% endif %}
                                {% if preference.intermediate_points_selected == 5000 %}
                                    <option value=5000 selected="selected">Every 5 km</option>
                                {% else %}
                                    <option value=5000>Every 5 km</option>
                                {% endif %}
                                {% if preference.intermediate_points_selected == 10000 %}
                                    <option value=10000 selected="selected">Every 10 km</option>
                                {% else %}
                                    <option value=10000>Every 10 km</option>
                                {% endif %}
                                {% if preference.intermediate_points_selected == 15000 %}
                                    <option value=15000 selected="selected">Every 30 minutes</option>
                                {% else %}
                                    <option value=15000>Every 30 minutes</option>
                                {% endif %}
                                {% if preference.intermediate_points_selected == 20000 %}
                                    <option value=20000 selected="selected">Best 20 minutes</option>
                                {% else %}
                                    <option value=20000>Best 20 minutes</option>
                                {% endif %}
                                {% if preference.intermediate_points_selected == 30000 %}
                                    <option value=30000 selected="selected">Best 30 minutes</option>
                                {% else %}
                                    <option value=30000>Best 30 minutes</option>
                                {% endif %}
                                {% if preference.intermediate_points_selected == 60000 %}
                                    <option value=60000 selected="selected">Best 60 minutes</option>
                                {% else %}
                                    <option value=60000>Best 60 minutes</option>
                                {% endif %}
                                {% if atrack.maxheartrate_pointindex  > 0 %}
                                    {% if preference.intermediate_points_selected == 90000 %}
                                        <option value=90000 selected="selected">Maximum heart rate</option>
                                    {% else %}
                                        <option value=90000>Maximum heart rate</option>
                                    {% endif %}
                                {% endif %}
                                {% if atrack.maxcadence_pointindex  > 0 %}
                                    {% if preference.intermediate_points_selected == 95000 %}
                                        <option value=95000 selected="selected">Maximum cadence</option>
                                    {% else %}
                                        <option value=95000>Maximum cadence</option>
                                    {% endif %}
                                {% endif %}
                                {% if preference.intermediate_points_selected == 99999 %}
                                    <option value=99999 selected="selected">Maximum speed</option>
                                {% else %}
                                    <option value=99999>Maximum speed</option>
                                {% endif %}
                            </select>
                        </form>   
                    </td>
                </tr>
                <tr>
                    <td><b>Filename</b></td>
                    <td style="text-align:right">{{ displayfilename }}</td>
                </tr>
                <tr>
                    <td><b>Created&nbsp;date</b></td>
                    <td style="text-align:right">{{ atrack.created_date|date:"d b Y" }}</td>
                </tr>
                <tr>
                    <td><b>Name</b></td>
                    <form method="post" id="form2" enctype="multipart/form-data">
                        {% csrf_token %}
                        <td style="text-align:right"><input 
                            type="text" style="text-align:right" 
                            name="name_input" 
                            autocomplete="off"
                            value="{{ atrack.name }}" 
                            onchange=processFiles("form2")>
                        </td>
                    </form>
                </tr>
                <tr>
                    <td><b>Tag</b></td>
                    <form method="post" id="form3" enctype="multipart/form-data">
                        {% csrf_token %}
                        <td style="text-align:right"><input 
                            type="text" style="text-align:right" 
                            name="profile_input" 
                            list="profile_list" 
                            autocomplete="off"
                            {% if atrack.profile %}
                                value="{{ atrack.profile }}" 
                            {% else %}
                                value="-" 
                            {% endif %}
                            onchange=processFiles("form3")>
                        </td>
                        <datalist name="Profile" id="profile_list" onchange=processFiles()>
                            {% if bike_profiles %}
                                {% for profile in bike_profiles %}
                                    <option value="{{ profile }}">{{ profile }}</option>
                                {% endfor %}
                            {% endif %}
                        </datalist>
                    </form>
                </tr>
                <tr>
                    <td><b>Length&nbsp;(km)</b></td>
                    <td  style="text-align:right">{{ atrack.length }}</td>
                </tr>
                <tr>
                    <td><b>Total&nbsp;ascent&nbsp;(m)</b></td>
                    <td style="text-align:right">{{ atrack.totalascent }}</td>
                </tr>
                <tr>
                    <td><b>Total&nbsp;descent&nbsp;(m)</b></td>
                    <td style="text-align:right">{{ atrack.totaldescent }}</td>
                </tr>
                <tr>
                    <td><b>Duration while moving (hh:mm:ss)</b></td>
                    <td  style="text-align:right">{{ atrack.movingduration|time:"H:i:s" }}</td>
                </tr>
                <tr>
                    <td><b>Duration (hh:mm:ss)</b></td>
                    <td  style="text-align:right">{{ atrack.duration|time:"H:i:s" }}</td>
                </tr>
                {% if atrack.trackeffort  > 0 %}
                    <tr>
                        <td><b>Track&nbsp;effort</b></td>
                        <td style="text-align:right">{{ atrack.trackeffort }}</td>
                    </tr>
                {% endif %}
                <form method="post"  id="form4" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="public_track_changed" value="True">
                    <tr>
                        <td><br>
                            <label class="checkcontainer {{colorscheme}}" style="font-weight: normal"><b>Public track</b>
                                <input type="checkbox"
                                    name="public_track" 
                                    {% if atrack.public_track %}
                                        checked="checked" 
                                    {% endif %}
                                    id="id_public_track"
                                    onchange=processFiles("form4")>
                                <span class="checkmark {{colorscheme}}"></span> 
                            </label>
                        </td>
                    </tr>
                </form>
            </table>
            <hr>
            <div  id="id-speed-hide" style="display:block">
                <table style="width: 100%;" class="scalefont {{colorscheme}}">
                    <tr onClick=showSpeed() class="table-row">
                        <td><b>▸ Speed</b></td>
                    </tr>
                </table>
            </div>
            <div  id="id-speed-show" style="display:none">
                <table style="width: 100%;" class="scalefont {{colorscheme}}">
                    <tr onClick=hideSpeed() class="table-row">
                        <td><b>▾ Speed</b></td>
                    </tr>
                    <tr>
                        <td>◦ Average&nbsp;speed&nbsp;(km/h)</td>
                        <td style="text-align:right">{{ atrack.avgspeed }}</td>
                    </tr>
                    <tr>
                        <td>◦ Best&nbsp;20&nbsp;minutes&nbsp;(km/h)</td>
                        {% if atrack.best20 > 0 %}
                            <td style="text-align:right">{{ atrack.best20 }}</td>
                        {% else %}
                            <td style="text-align:right">-</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>◦ Best&nbsp;30&nbsp;minutes&nbsp;(km/h)</td>
                        {% if atrack.best30 > 0 %}
                            <td style="text-align:right">{{ atrack.best30 }}</td>
                        {% else %}
                            <td style="text-align:right">-</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>◦ Best&nbsp;60&nbsp;minutes&nbsp;(km/h)</td>
                        {% if atrack.best60 > 0 %}
                            <td style="text-align:right">{{ atrack.best60 }}</td>
                        {% else %}
                            <td style="text-align:right">-</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>◦ Maximum&nbsp;speed&nbsp;(km/h)</td>
                        <td style="text-align:right">{{ atrack.maxspeed }}</td>
                    </tr>
                </table>
            </div>
            {% if atrack.avgcadence > 0 %}
                <div  id="id-cadence-hide" style="display:block">
                    <table style="width: 100%;" class="scalefont {{colorscheme}}">
                        <tr onClick=showCadence() class="table-row">
                            <td><b>▸ Cadence</b></td>
                        </tr>
                    </table>
                </div>
                <div  id="id-cadence-show" style="display:none">
                    <table style="width: 100%;" class="scalefont {{colorscheme}}">
                        <tr onClick=hideCadence() class="table-row">
                            <td><b>▾ Cadence</b></td>
                        <tr>
                        {% if atrack.avgcadence > 0 %}
                            <tr>
                                <td>◦ Average&nbsp;cadence (rpm)</td>
                                <td style="text-align:right">{{ atrack.avgcadence }}</td>
                            </tr>
                        {% endif %}
                        {% if atrack.maxcadence > 0 %}
                            <tr>
                                <td>◦ Maximum&nbsp;cadence (rpm)</td>
                                <td  style="text-align:right">{{ atrack.maxcadence }}</td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            {% endif %}
            {% if atrack.avgheartrate > 0 %}
                <div  id="id-hr-hide" style="display:block">
                    <table style="width: 100%;" class="scalefont {{colorscheme}}">
                        <tr onClick=showHR() class="table-row">
                            <td><b>▸ Heart rate</b></td>
                        </tr>
                    </table>
                </div>
                <div  id="id-hr-show" style="display:none">
                    <table style="width: 100%;" class="scalefont {{colorscheme}}">
                        <tr onClick=hideHR() class="table-row">
                            <td><b>▾ Heart rate</b></td>
                        <tr>
                            {% if atrack.avgheartrate > 0 %}
                            <td>◦ Average&nbsp;heart rate (bpm)</td>
                            <td  style="text-align:right">{{ atrack.avgheartrate }}</td>
                        </tr>
                        {% endif %}
                        {% if atrack.minheartrate  < 999 %}
                            <tr>
                                <td>◦ Mininimum&nbsp;heart rate (bpm)</td>
                                <td  style="text-align:right">{{ atrack.minheartrate }}</td>
                            </tr>
                        {% endif %}
                        {% if atrack.maxheartrate  > 0 %}
                            <tr>
                                <td>◦ Maximum&nbsp;heart rate (bpm)</td>
                                <td style="text-align:right">{{ atrack.maxheartrate }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>◦ Time spent in zone 1 (<= {{ heartratezones.0}} bpm)</td>
                            <td style="text-align:right">{{ atrack.hrzone1|time:"H:i:s" }}</td>
                        </tr>
                        <tr>
                            <td>◦ Time spent in zone 2 ({{ heartratezones.0|add:"1" }} - {{ heartratezones.1}} bpm)</td>
                            <td style="text-align:right">{{ atrack.hrzone2|time:"H:i:s" }}</td>
                        </tr>
                        <tr>
                            <td>◦ Time spent in zone 3 ({{ heartratezones.1|add:"1" }} - {{ heartratezones.2}} bpm)</td>
                            <td style="text-align:right">{{ atrack.hrzone3|time:"H:i:s" }}</td>
                        </tr>
                        <tr>
                            <td>◦ Time spent in zone 4 ({{ heartratezones.2|add:"1" }} - {{ heartratezones.3}} bpm)</td>
                            <td style="text-align:right">{{ atrack.hrzone4|time:"H:i:s" }}</td>
                        </tr>
                        <tr>
                            <td>◦ Time spent in zone 5 (> {{ heartratezones.3}} bpm)</td>
                            <td style="text-align:right">{{ atrack.hrzone5|time:"H:i:s" }}</td>
                        </tr>
                    </table>
                </div>
            {% endif %}
            <hr>
            <table class="scalefont {{colorscheme}}">
                <tr>
                    <td>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <button type="submit" name="csvsave" id="id_csvsave" value="True">Save as .csv file</button>
                        </form>
                    </td>
                </tr>
            </table>
            <hr>
            <table class="scalefont {{colorscheme}}">
                <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <tr>
                    <td>
                        <button type="submit" name="delete" id="delete" onclick="processFiles()">Delete this track</button>
                    </td>
                </tr>
                <tr>
                    <td><br>
                        <label class="checkcontainer {{colorscheme}}" style="font-weight: normal;"><i>I understand that deleting this track is an action that cannot be undone</i>
                            <input type="checkbox"
                                name="confirm_delete" 
                                id="id_confirm_delete">
                            <span class="checkmark {{colorscheme}}"></span> 
                        </label>
                    </td>
                </tr>
                </form>
            </table>
            <hr>
            <table class="scalefont {{colorscheme}}">
                <tr>
                    <td style="width: 500px;">
                        <h3>Public tracks settings</h3>
                    </td>
                </tr>
                <form method="post"  id="form5" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="hide_first_part_changed" value="True">
                    <input type="hidden" name="hide_last_part_changed" value="True">
                    <input type="hidden" name="show_markers_changed" value="True">
                    <input type="hidden" name="show_cadence_changed" value="True">
                    <input type="hidden" name="show_heartrate_changed" value="True">
                    <input type="hidden" name="show_trackeffort_public_changed" value="True">
                    <input type="hidden" name="show_download_gpx_changed" value="True">
                    <tr>
                        <td>       
                        <label class="checkcontainer {{colorscheme}}" style="font-weight: normal"><b>Hide first part</b>
                            <input type="checkbox"
                                name="hide_first_part" 
                                {% if atrack.hide_first_part %}
                                    checked="checked" 
                                {% endif %}
                                id="id_hide_first_part"
                                onchange=processFiles("form5")>
                            <span class="checkmark {{colorscheme}}"></span> 
                        </label>
                    </tr>
                    <tr>
                        <td>       
                            <label class="checkcontainer {{colorscheme}}" style="font-weight: normal"><b>Hide last part</b>
                                <input type="checkbox"
                                    name="hide_last_part" 
                                    {% if atrack.hide_last_part %}
                                        checked="checked" 
                                    {% endif %}
                                    id="id_hide_last_part"
                                    onchange=processFiles("form5")>
                                <span class="checkmark {{colorscheme}}"></span> 
                            </label>
                    </tr>
                    <tr>
                        <td>       
                            <label class="checkcontainer {{colorscheme}}" style="font-weight: normal"><b>Show markers</b>
                                <input type="checkbox"
                                    name="show_markers" 
                                    {% if atrack.show_markers %}
                                        checked="checked" 
                                    {% endif %}
                                    id="id_show_markers"
                                    onchange=processFiles("form5")>
                                <span class="checkmark {{colorscheme}}"></span> 
                            </label>
                    </tr>
                    <tr>
                        <td>       
                            <label class="checkcontainer {{colorscheme}}" style="font-weight: normal"><b>Show heart rate</b>
                                <input type="checkbox"
                                    name="show_heartrate" 
                                    {% if atrack.show_heartrate %}
                                        checked="checked" 
                                    {% endif %}
                                    id="id_show_heartrate"
                                    onchange=processFiles("form5")>
                                <span class="checkmark {{colorscheme}}"></span> 
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>       
                            <label class="checkcontainer {{colorscheme}}" style="font-weight: normal"><b>Show cadence</b>
                                <input type="checkbox"
                                    name="show_cadence" 
                                    {% if atrack.show_cadence %}
                                        checked="checked" 
                                    {% endif %}
                                    id="id_show_cadence"
                                    onchange=processFiles("form5")>
                                <span class="checkmark {{colorscheme}}"></span> 
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="checkcontainer {{colorscheme}}" style="font-weight: normal"><b>Show track effort</b>
                                <input type="checkbox"
                                    name="show_trackeffort_public"
                                    {% if atrack.show_trackeffort_public %}
                                        checked="checked"
                                    {% endif %}
                                    id="id_show_trackeffort_public"
                                    onchange=processFiles("form5")>
                                <span class="checkmark {{colorscheme}}"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>       
                            <label class="checkcontainer {{colorscheme}}" style="font-weight: normal"><b>Show download GPX track</b>
                                <input type="checkbox"
                                    name="show_download_gpx" 
                                    {% if atrack.show_download_gpx %}
                                        checked="checked" 
                                    {% endif %}
                                    id="id_show_download_gpx"
                                    onchange=processFiles("form5")>
                                <span class="checkmark {{colorscheme}}"></span> 
                            </label>
                        </td>
                    </tr>
                </form>
            </table>
            <a href={{ public_url }} target="_blank" class="{{colorscheme}}"><b>Obtain a shareable link to this track</b></a>

        </div>
        <div class="col-8">
                <iframe class="responsive-iframe" src={{ map_filename }} title="Track map"></iframe>
        </div>
    </div>
</div>
<hr>
{% endblock %}